{% extends "base.html" %}

{% block readmore %}

    <!-- Основной контент -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mb-4">Подробнее о наших изделиях</h1>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Декорирование предметов</h5>
                                <p class="card-text">
                                    Украшение и преображение обычных вещей: 
                                    фоторамок, мебели, ваз. Декор не только несёт художественную функцию, 
                                    но и может защищать предметы от царапин, скрывать дефекты, 
                                    продлевать срок службы или даже добавлять новые функции</p>
                                <ul>
                                    <li>Блокноты</li>
                                    <li>Бутылки</li>
                                    <li>Обложки на паспорт</li>
                                    <li>И многое друое</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Съедобный букет</h5>
                                <p class="card-text">
                                     Это оригинальная композиция, которая не только красива, но ещё и очень вкусна. 
                                     Оригинальный и вкусный презент украсит собой любое торжество. 
                                     Его можно преподнести в подарок человеку любого пол и возраста. 
                                     «Начинкой» для изготовления вкусных букетов служат самые разные лакомства.</p>
                                <ul>
                                    <li>Сладкие букеты</li>
                                    <li>Сухофруктовые букеты</li>
                                    <li>И другие</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Миниатюрные домики</h5>
                                <p class="card-text">
                                    Например, декоративные домики из картона, фанеры. 
                                    Служат элементом декора в разных контекстах: в интерьере, для сада или в 
                                    виде поделок. Домики могут быть выполнены из различных материалов, 
                                    иметь разные формы и предназначения, моут иметь подсветку или без неё.
                                </p>
                                <ul>
                                    <li>Домики новогодние</li>
                                    <li>Домики с подсветкой</li>
                                    <li>И другие</li>                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

{% endblock readmore %}
